.sidebar {
  width: 200px;
  height: 100vh;
  background-color: pink;
}

.searchbar {
    box-sizing: border-box;
    width: 200px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 2.6em;
}

.searchResult:last-child {
  margin-bottom: 12px;
}
